/* App.scss */

/* Importera variabler */
@import 'components/styles/variables';

/* Grundläggande globala stilar */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

/* Importera komponent-specifika stilar */
@import 'components/styles/header';
@import 'components/styles/todoform';
@import 'components/styles/todolist';
/*@import './components/styles/TodoItem';
@import './components/styles/Footer';*/
